extends layout

block content
  include header
  h1 Here the Articles:
  button(data-type='create') Generate a new article (for test)
  if articles
    each item in articles
      div
        h2 "#{item.articleTitle}" by #{item.author}
        p #{item.articleBody}
        p Published at #{item.published}
        button(data-type='delete', data-id=item._id) Delete
  else
    h2 We are sorry, but we can not find the article
  script(src='/js/handlers/handlers.js')